 .navbarColor {
     color: red !important;
     font-weight: 600 !important;
 }

 .login-buttonme {
     background: #ebebeb;
     border-radius: 50px;
     padding: 4px 11px;
     font-weight: 600;
     margin-left: 25px;
 }